.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    text-align: center;
    background-color: rgb(99, 2, 2);
    color: white;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    min-height: 100vh;
  }
  
  li {
    background: rgb(210, 110, 110);
    width: 60%;
    margin: 10px 0;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
  }
  
  h2 {
    margin: 0 0 10px 0;
  }

  #Contenedor-post{
    transform: translateX(25%);
    width: 100%;
    height: 100%;
  }
  
  #contenedor-general{
    background-color: rgb(240, 226, 226);
    height: 100%;
  }